{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Rest page</title>

{% endblock %}


{% block content %}
<div class="back-2 back-f-1 flex-col ful-cover f-v-cen f-h-cen f-1">
    <div class="t-cen  w-5">
        <h1>Enter You Email Here</h1>
        <form class="li-mart" method="post">
            {% csrf_token %}
            {{ form.email }}
            <br>
            <input class="li-martl-1 h-trans btn btn-primary" type="submit" value="Send">
            <a class="h-trans trans-5 btn btn-danger" href=" {% url 'accounts:login' %}">Cancel</a>

            {% if form.email.errors %}
            <div>
                {% for error in form.email.errors %}
                <p class="alert alert-danger" style="padding:0; margin:3px;">{{error}}
                </p>
                {% endfor %}

            </div>
            {% endif %}

        </form>
    </div>


    <!-- none-field errors -->
    {% if form.non_field_errors %}
    <div class="">
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger">{{ error }}</div>
        <p>none field</p>
        {% endfor %}
    </div>
    {% endif %}

</div>
{% endblock content %}