{% extends "base.html" %}
{% load static %}
{% block head %}
<title>Confirm</title>
{% endblock %}


{% block content %}
<div class="back-2 back-f-1 ful-cover flex-col f-v-cen f-h-cen f-1">
    <div class="flex-col">
        <h1 class="">Enter Your New Password</h1>
        <form class="t-cen" method="post">
            {% csrf_token %}
            {% for field in form %}
            {{ field }}<br>
            {% if field.errors %}
            {% for error in field.errors %}
            <small style="width: 100%;" class="alert alert-danger">{{ error }}</small>
            {% endfor %}
            {% endif %}
            {% endfor %}<br>
            <input class="btn btn-primary h-trans" type="submit" value="Change">
        </form>
    </div>


    {% if form.non_field_errors %}
    <div>
        {% for error in form.non_field_errors %}
        <div class="alert alert-danger t-cen">{{ error }}</div>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock content %}