{% extends "base.html" %}
{% load recaptcha_tags %}


{% block head %}
<title>Password change</title>
{% re_token_script "change_password" %}

{% endblock %}


{% block content %}
<h1>Register</h1>
<form action="{% url 'accounts:change_pass' %}" method="post">
    {% csrf_token %}
    {% for field in form %}
    <div>
        {{ field.label_tag }}<br>
        {{ field }}
        {{ field.errors.as_p }}
    </div>
    {% endfor %}

    <input type="submit" value="Change">
</form>
<a href="{% url 'content:home' %}">Cancel</a>

{% if form.non_field_errors %}
<ul>
    {% for error in form.non_field_errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endblock content %}